<div class="table-responsive">
    <table>
        <thead>
            <tr>
                <th>From Username</th>
                <th>Message</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <% if( allmessages && allmessages.length>0){ %>
                <% allmessages.forEach(function(item){ %>
                    <tr>
                        <td><%= item.from %></td>
                        <td><%= item.message %></td>
                        <td><%= item.date %></td>
                    </tr>
                <% }) %>
            <% }else{ %>
                <tr>
                    <td colspan="3"> No results found</td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>